homeassistant/OZW_Log.txt
homeassistant/config/.HA_VERSION
homeassistant/config/.uuid
homeassistant/config/pyozw.sqlite
homeassistant/config/home-assistant_v2.db
homeassistant/config/home-assistant.log
homeassistant/config/entity_registry.yaml
homeassistant/config/OZW_Log.txt
homeassistant/zwcfg_0xcf1370ed.xml
homeassistant/config/zwcfg_0xcf1370ed.xml
homeassistant/config/configuration.yaml

homeassistant/zwscene.xml
homeassistant/config/automations.yaml
homeassistant/config/customize.yaml
homeassistant/config/groups.yaml
homeassistant/config/options.xml
homeassistant/config/scripts.yaml
homeassistant/config/secrets.yaml
homeassistant/config/zwscene.xml
